@tailwind base;
@tailwind components;
@tailwind utilities;

body{
 background-color:#f5f5f5;
}

.btn {
  @apply text-base font-medium rounded-lg py-2 px-5;
}

.btn--primary {
  @apply bg-primaryColor text-gray-800 border-gray-500 border hover:border-accentColor hover:bg-gray-700 hover:text-primaryColor;
}

.btn--secondary {
  @apply bg-slate-100 text-slate-900;
}

.form--input{
  @apply focus:ring-2 focus:ring-accentColor focus:outline-none appearance-none w-full text-sm leading-6 text-gray-800 placeholder-slate-400 rounded-md py-2 pl-60 ring-1 ring-secondaryColor shadow-sm
}

.form--label{
  @apply left-3 top-4 -mt-2.5 text-slate-600 pointer-events-none group-focus-within:text-accentColor
}

.my-border-shadow {
  box-shadow: inset 0px 0px 34px rgba(0, 0, 0, 0.25);
}
.my-banner-height {
  height: 35rem;
}

.accent--color--bg {
  background-color: #c19892
}

.my-banner-image {
  background-image: url("https://images.pexels.com/photos/1483053/pexels-photo-1483053.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1483053.jpg&fm=jpg");
  background-size: 100%;
}


