@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f5f5f5;
}
canvas {
  display: block;
}
.unravel_loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.unravel_404 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
}

.btn {
  @apply text-base font-medium rounded-lg my-3 py-3 px-5;
}

.btn--sm {
  @apply text-base font-medium rounded-lg my-1 py-1 px-5;
}
.btn--primary {
  @apply bg-primaryColor text-gray-800 border-gray-500 border hover:border-accentColor hover:bg-gray-700 hover:text-primaryColor;
}

.btn--secondary {
  @apply bg-slate-100 text-slate-900 hover:border-accentColor hover:bg-gray-700 hover:text-primaryColor;
}

.form--input {
  @apply focus:ring-2 focus:ring-accentColor focus:outline-none appearance-none w-full text-sm leading-6 text-gray-800 placeholder-slate-400 rounded-md py-2 mr-56 pl-32 ring-1 ring-secondaryColor shadow-sm;
}

.form--label {
  @apply left-3 top-4 -mt-2.5 text-slate-600 pointer-events-none group-focus-within:text-accentColor;
}

.my-banner-image {
  background-image: url("https://images.pexels.com/photos/1483053/pexels-photo-1483053.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-1483053.jpg&fm=jpg");
  background-size: 100%;
}

.waves {
  position: absolute;
  width: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/*verify-email */
.verifyEmail {
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 0px 4px hsl(210, 12%, 75%);
  text-align: center;
  padding: 40px 20px;
  background-color: hsl(210, 10%, 98%);
}

.verifyEmail h1 {
  font-weight: 300;
  margin-top: 0;
}

.verifyEmail > p {
  line-height: 25px;
}

.verifyEmail > span {
  color: gray;
}

.verifyEmail > button {
  margin-top: 35px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
